PORT={{port}}
HEADER="<img width='250' src='https://www.md-webdesigner.com/objectif-libre/wp-content/uploads/2017/05/Ansible.png'>"
MSG="<i class='far fa-thumbs-up'></i>{{ message }}<p style='font-size: 16pt'>Student: {{ student_first_name | mandatory }} {{ student_last_name | mandatory}}</p>"
